<a href="/"><img src="https://i.pinimg.com/originals/0a/41/0e/0a410e3a4f03610eed0dbbbcd2f0a3db.png" alt=""></a>

<nav>

    <a href="/fav-char"> Fav Characters</a>
    <a href="/create"> Create new character</a>
    <a href="/created-char"> Created characters list</a>

    
</nav>